.footer {
    background-color: $darkBlue;
    color: $white;
    text-align: center;
    padding: 2.5rem;

    .container{

        @include bp-up(large) {
            display: grid;
            grid-template-columns: 2fr repeat(2, 1fr) 3fr;
            grid-template-areas: 
                "logo links1 links2 cta"
                "social links1 linsk2 copyright";
            gap: 1rem;
            text-align: left;
            justify-items: start;
        }
    }

    a {
        color: inherit;
    }

    &__logo {
        display: inline-block;
        @include bp-down(medium) {
            margin-bottom: 1.875rem;
        }
        @include bp-up(large) {
            grid-area: logo;
        }
    }
    
    &__social {
        @include bp-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include bp-up(large) {
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;

            svg path{
            transition: all .2s ease-in-out;
            }

            &:hover svg path{
                fill: $limeGreen;
            }
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .9375rem;

        @include bp-up(large) {
            align-items: start;
        }

        a {
            line-height: 2.25;
            color: $lightGrayishBlue;
            transition: all .2s ease-in-out;

            &:hover {
                color: $limeGreen;
            }
        }

        &.col1 {

            @include bp-up(large) {
                grid-row: 1 / 3;
            }
        } 

        &.col2 {

            @include bp-down(medium) {
            margin-bottom: 1.875rem;
            }

            @include bp-up(large) {
                grid-row: 1 / 3;
            }
        }
    }

    &__cta {
        @include bp-up(large) {
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }
        a {
            @include bp-down(medium) {
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright {
        font-size: .8125rem;
        color: $grayishBlue;

        @include bp-up(large) {
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }
}